---
import Stack from '@assets/Stack.astro'
import Confetti from "@/assets/Confetti.astro"

//Internalization
import { getI18N } from "../i18n/"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<section class="mb-7">
  <h2 class="mb-2 font-bold text-2xl">{i18n.labels.label_experience}</h2>
  <ul class="flex flex-col gap-6">    
    {
      i18n.work.map(
        ({ name, startDate, endDate, position, summary, highlights, url, badges, achievements }) => {          
          const startYear = new Date(startDate).getFullYear()
          const endYear = endDate != null ? new Date(endDate).getFullYear() : "Actual"
          const years = `${startYear} - ${endYear}`
        
          return (
            <li>
              <article>
                <header class="mb-2">
                  <div>
                    <h3 class="font-semibold text-lg flex flex-wrap gap-x-2">
                      {position}
                      {badges.map(badge => <span class="border-1 border-r border-t border-l border-b border-solid bg-color-light-extra dark:border-border-dark dark:bg-color-black-extra dark:bg-none rounded-md text-xs font-bold">{badge}</span>)}
                    </h3>
                    {
                      url ?
                      <h4 class="font-normal">                      
                      <a 
                        href={url} 
                        title={`Ver ${name}`} 
                        target="_blank" 
                        class="hover:underline"
                        >
                        {name}
                      </a>                                            
                    </h4> : <h4 class="font-normal">{name}</h4>
                    }
                  </div>

                  <time class="text-right">{years}</time>
                </header>

                <footer>
                  <ul class="inline-block list-disc ml-6 text-wrap leading-6">                  
                    {
                      summary.map(summ => <li>{summ}</li>)
                    }
                  </ul>
                  {
                    achievements && (                      
                    <div class="my-2">
                      <div class="flex items-center gap-3">
                        <Confetti/>
                        <div class="flex-1">                          
                          <p class="text-sm"> {achievements}</p>
                        </div>                        
                      </div>
                    </div>
                    )
                  } 
                  <ul class="inline-flex items-center gap-2 flex-wrap">  
                    <li>
                      <Stack />
                    </li>                  
                    {
                      highlights.map(highlight => 
                        <li class="truncate border-1 border-r border-t border-l border-b border-solid group-hover:bg-transparent group-hover:text-white bg-color-light-extra dark:bg-color-black-extra px-2 py-1 text-xs rounded">
                        <span>{highlight}</span>
                        </li>
                      )
                    }
                  </ul> 
                </footer>
              </article>
            </li>
          )
        }
      )
    }
  </ul>
</section>

<style>     
  
  article h3 span {
    align-items: center;            
    display: flex;
    font-size: 0.7rem;       
    padding: 0.2rem 0.6rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;    
  }

  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
  }

  

  /* footer ul li {
    margin-left: 24px;    
    line-height: 1.5;    
    text-wrap: pretty;
  } */

  footer span {
    margin: 0.5rem 0rem;    
  }

</style>